#description-pane {
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

#description-text {
  padding: 50px;
}

#close-pane {
  float: right;
}

.close-pane:hover {
  cursor: pointer;
}

html{
  font-family: helvetica, arial, sans;
  color: #fff;
  box-shadow: 0 0 0 40px #333 inset;
  padding: 0 40px;
}

body {
  background-color: #333;
}

.card{
  display: none;
  height: 140px;
  width: 90px;
}

#submit{
  float: right;
}

.header {
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 7vh;
  width: 100%;
  z-index: 20;
}

.interactable {
  color: red;
}

.scene-display {
  box-sizing: border-box;
  padding-top: 7vh;
  display: flex;
  height: 80vh;
  background-color: #888;
  /*background-image: url("../img/placeholder1.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.scene-display img {
  object-fit: cover;
  width: 100%;
}


.footer {
  padding: 10px;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 18vh;
}

.footer-component {
  display: flex;
  background-color: #000;
  height: 18vh;
  /*flex: 0 1 auto;*/
}

.text-and-submit{
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: nowrap;
}
.button-list{
  display: flex;
  justify-content: flex-end;
}
.btn{
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  border-radius: 5px;
  flex: 0 1 auto;
}

.btn .action-btn{
  flex: 1 1 0;
}
.form-group {
  background-color: #555;
  flex-direction: column;
  flex: 3 1 30em;
}

.form-group .input-control {
  flex: 1 1 auto;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: 0px;
 }

input.input-control {
  height: 2.5em;
  width: 35em;
}

.inventory {
  margin-left: 1em;
  align-items: flex-start;
  background-color: #888;
  flex-direction: row-reverse;
  flex: 2 1 10em;
}
